<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <mat-card class="example-card">
            <mat-card-content>
                <form >
                    <table class="table">
                     <tr>
                        <td>
                           <mat-form-field class="field" appearance="fill">
                            <mat-label>New Password</mat-label>
                            <input type="text" matInput  formControlName ="newPassword" name="newPassword" placeholder="New Password">
                           </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <mat-form-field class="field" appearance="fill">
                            <mat-label>Confirm Password</mat-label>
                            <input type="text" matInput  formControlName ="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                           </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <button mat-raised-button color='primary' class="btr">Submit</button>
                        </td>
                        
                    </tr>
                    
                    
                    </table>
                </form>
            </mat-card-content>
        </mat-card>
        
        
    </div>
    <div class="col-lg-4"></div>
    </div>
    
</div>

