<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-6">
        <p style="text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:0in;unicode-bidi:embed;direction:ltr;"><span style="color:black;font-family:Verdana;font-size:10pt;">To
            learn more about </span><span style="color:red;font-family:Verdana;font-size:10pt;font-style:italic;font-weight:bold;">Lotus </span><span style="color:blue;font-family:Verdana;font-size:10pt;font-style:italic;font-weight:bold;">Pacific </span><span style="color:black;font-family:Verdana;font-size:10pt;">please contact:</span></p>
            
            <p style="text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:0in;unicode-bidi:embed;direction:ltr;"></p>
            
            <p style="text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:0in;unicode-bidi:embed;direction:ltr;"><span style="color:black;font-family:Verdana;font-size:10pt;font-weight:bold;"><br>USA HQ:</span></p>
            
            <p style="text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:0in;unicode-bidi:embed;direction:ltr;"><span style="color:black;font-family:Verdana;font-size:10pt;">Lotus
            Pacific Technologies Inc.</span></p>
            
            <p style="text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:0in;unicode-bidi:embed;direction:ltr;"><span style="color:black;font-family:Verdana;font-size:10pt;">Atlanta,
            Georgia</span></p>
            
            <p style="text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:0in;unicode-bidi:embed;direction:ltr;"></p>
            
            <p style="text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:0in;unicode-bidi:embed;direction:ltr;"><span style="color:black;font-family:Verdana;font-size:10pt;font-weight:bold;"><br>Africa:</span></p>
            
            <p style="text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:0in;unicode-bidi:embed;direction:ltr;"><span style="color:black;font-family:Verdana;font-size:10pt;">Lotus
            Pacific Pvt. Ltd.</span></p>
            
            <p style="text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:0in;unicode-bidi:embed;direction:ltr;"><span style="color:black;font-family:Verdana;font-size:10pt;">Harare,
            Zimbabwe</span></p>
            
            <p style="text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:0in;unicode-bidi:embed;direction:ltr;"></p>
            
            <p style="text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:0in;unicode-bidi:embed;direction:ltr;"><span style="color:black;font-family:Verdana;font-size:10pt;font-weight:bold;"><br>Info@LotusTek.com</span></p>
            
            <p style="text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:0in;unicode-bidi:embed;direction:ltr;"></p>
            
            <p style="text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:0in;unicode-bidi:embed;direction:ltr;"><span style="color:black;font-family:Verdana;font-size:10pt;font-weight:bold;"><br>+1-770-365-1245</span></p>
            
            
    </div>
</div>

