<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <p>
                <span style="color:red;font-family:Verdana;font-size:10pt;font-style:italic;font-weight:bold;">Lotus
                 </span><span style="color:blue;font-family:Verdana;font-size:10pt;font-style:italic;font-weight:bold;">
                Pacific </span><span style="color:black;font-family:Verdana;font-size:10pt;">is a
                leading technology consulting company based in Atlanta, USA, focusing on delivering
                end-to-end Data Integration, Business Intelligence, Advanced Analytics, Data
                Virtualization, and </span><span style="color:black;font-family:Verdana;font-size:10pt;">Big </span><span style="color:black;font-family:Verdana;font-size:10pt;">Data solutions</span><span style="color:black;font-family:Verdana;font-size:10pt;">. </span></p>
                <p><span style="color:black;font-family:Verdana;font-size:10pt;">We
                    have extensive experience in implementing full information management lifecycle
                    from data acquisition, cleansing, transformation, storage, distribution, data virtualization, and
                    presentation. </span></p>
                    <p><span style="color:black;font-family:Verdana;font-size:10pt;">Our
                        mission is to enable your organization to design, architect, integrate, and
                        process large volume of data empowering you with business intelligence and
                        advanced analytics solutions. </span></p>
                        <p><span style="color:black;font-family:Verdana;font-size:10pt;">Proud
                            member of the Project Management Institute (PMI) with PMP Certification. We
                            implement Project Management framework and methodology in our projects
                            leveraging Project Management Process Groups and Knowledge Areas. Quality and
                            Agility is of paramount importance in what we do for our customers. We
                            continuously strive to improve the quality by leveraging </span><span style="color:black;font-family:Verdana;font-size:10pt;font-weight:bold;">Six
                            Sigma</span><span style="color:black;font-family:Verdana;font-size:10pt;"> (</span><span style="color:black;font-family:Verdana;font-size:10pt;font-weight:bold;">6σ</span><span style="color:black;font-family:Verdana;font-size:10pt;">) techniques and tools: Define,
                            Measure, Analyze, Improve, Control (DMAIC). </span></p>
                            <p><span style="color:red;font-family:Verdana;font-size:10pt;font-style:italic;font-weight:bold;">Lotus </span><span style="color:blue;font-family:Verdana;font-size:10pt;font-style:italic;font-weight:bold;">Pacific </span><span style="color:black;font-family:Verdana;font-size:10pt;">has
                                established an exemplary record in the field of Information Technology in
                                various domains. We are proud of our ability to accomplish tasks in a
                                professional, ethical, and efficient manner.</span></p>
        </div>
    </div>
</div>